:root {
  /* primary colors */
  --violet: #5964e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --midnight: #121721;
  /* secondary colors */
  --light-grey: #f4f6f8;
  --grey: #9daec2;
  --dark-grey: #6e8098;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
