@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --violet: #5964e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --midnight: #121721;
  --light-grey: #f4f6f8;
  --grey: #9daec2;
  --dark-grey: #6e8098;
} */
